#include <configs/am62x_evm_r5_defconfig>

CONFIG_ARM=y
CONFIG_ARCH_K3=y
CONFIG_SOC_K3_AM625=y
CONFIG_TARGET_AM625_R5_EVM=y

CONFIG_K3_OPTEE_LOAD_ADDR=0x80080000

CONFIG_DEFAULT_DEVICE_TREE="k3-am625sip-r5-sk"
